<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>SOS Map</title>
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function addMarker(loc, title, map) {
        var marker = new google.maps.Marker({
            position: loc,
            map: map,
            title: title,
            animation: google.maps.Animation.DROP,
            icon: 'http://maps.google.com/mapfiles/ms/icons/red.png',
        });
      }

      function initMap() {
        var bounds = new google.maps.LatLngBounds();
        var mapOptions = { mapTypeId: google.maps.MapTypeId.ROADMAP };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        <% data.forEach(function(person) { %>
            var loc = new google.maps.LatLng(<%= person[1] %>, <%= person[2] %>)
            bounds.extend(loc)
            addMarker(loc, "<%= person[0] %>", map)
        <% }) %>

        map.fitBounds(bounds);
        map.panToBounds(bounds); 
      }
    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYMZ-zHcKvq2Lie22Rh2vUmrJ61Z3Nw1s&callback=initMap">
    </script>

  </body>
</html>
